<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jakarta Quiz</title>

</head>

<body>
<left>
    <h1>Silahkan isi data sebelum mengikuti quiz</h1>
    <h2>Sumber Data : Data.Jakarta.go.id</h2>
</left>
<br><br>

        <table border="0" align="left">
              <form method="post">
                  <tr>
                    <td>Nama</td>
                    <td><input type="text" name="user" placeholder="Nama Anda" ></td>
                </tr>

                <tr>
                    <td>Usia Anda</td>
                    <td><input type="text" name="usia" placeholder="Usia"
                                                   oninput="setCustomValidity('')"></td>
                </tr>

                <tr>
                    <td>Jenis Kelamin</td>
                    <td>
                        <select name="jenis_kelamin" >
                            <option value="">--Pilih--</option>
                            <option value="Laki - Laki">Laki - Laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Kotamadya</td>
                    <td>
                        <select name="kota" >
                            <option value="">--Pilih--</option>
                            <option value="Jakarta Selatan">Jakarta Selatan</option>
                            <option value="Jakarta Utara">Jakarta Utara</option>
                            <option value="Jakarta Barat">Jakarta Barat</option>
                            <option value="Jakarta Timur">Jakarta Timur</option>
                            <option value="Kepulauan Seribu">Kepulauan Seribu</option>
                        </select>
                    </td>
                </tr>
                  <br>
                  <tr>
                    <td>Nomor Telepon</td>
                    <td><input type="text" name="telp" placeholder="Telepon" ></td>
                </tr>

                  <tr>
                      <td align="center"><button type="submit" class="btn btn-default">Quiz</button></td>
                  </tr>
              </form>
            </table>

</body>
</html>